<article class="show_object">
  <header>
    <h2 class="index_objects">List of All Eatories</h2>
  </header>
  <section id="burgers_eatories_deals">
    <section class="left">
      <% if @eatories %>
        <h3>Active Eatories</h3>
        <hr/>
          <% for eatory in @eatories %>
              <section>
                <div class="sub_left">
                  <p><%= eatory.name %></p>
                </div>
                <div class="sub_right">
                 <a href="/eatories/<%= eatory.id %>">More Details</a>
                 <br/>
                 <br/>
                 <a href="/eatories/<%= eatory.id %>/edit">Modify Eatory</a>
                </div>
              </section>
            <hr/>
          <% end %>
      <% else %>
        <h3>No Active Eatories</h3>
        <hr/>
      <% end %>
    </section>
    <section class="right">
      <% if @inactive_eatories %>
        <h3>Inactive Eatories</h3>
        <hr/>
        <% for eatory in @inactive_eatories %>
          <section>
            <div class="sub_upper">
              <p><%= eatory.name %></p>
            </div>
            <div class="sub_lower">
              <a href="/eatories/<%= eatory.id %>">More Details</a>
              <br/>
              <br/>
              <a href="/eatories/<%= eatory.id %>/edit">Modify Eatory</a>
            </div>
          </section>
          <hr/>
        <% end %>
      <% else %>
        <h3>No Inactive Eatories</h3>
        <hr/>
      <% end %>
    </section>
  </section>
</article>
