<header class="edit_object_header">
  <h2>Current Eatery Details</h2>
  <p>Eatery Name: <%= @eatery.name %></p>
</header>
<hr/>
<form class="edit_object" action="/eateries/<%= @eatery.id %>" method="post">
  <h2>Edit Eatery Details:</h2>
  <br/>
  <label for="eatery_name">Eatery Name: </label>
  <br/>
  <input type="text" name="name" value="" id="eatery_name" placeholder="<%= @eatery.name %>" autocomplete="off" />
  <br/>
  <br/>
  <br/>
  <br/>
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Save New Details</button>
    <div class="empty_container">
    </div>
  </section>
  <br/>
</form>
<br/>
<hr/>
<br/>
<form class="delete_object" action="/eateries/<%= @eatery.id %>/delete" method="post">
  <h2>Delete Eatery</h2>
  <br/>
  <button type="submit" name="">Delete Eatery</button>
</form>
<br/>
<hr/>
<br/>
<form class="delete_object" action="/eateries/<%= @eatery.id %>" method="get">
  <button type="submit" name="">View Eatery Page</button>
</form>
<br/>
<br/>
<form class="delete_object" action="/eateries" method="get">
  <button type="submit" name="">View Main Eateries Listing</button>
</form>
