<article class="show_object">
  <header>
    <h2 class="index_objects">List of All Eateries</h2>
  </header>
  <section id="burgers_eateries_deals">
    <section class="left">
      <% if @eateries %>
        <h3>Active Eateries</h3>
        <hr/>
          <% for eatery in @eateries %>
              <section>
                <div class="sub_left">
                  <p><%= eatery.name %></p>
                </div>
                <div class="sub_right">
                 <a href="/eateries/<%= eatery.id %>">More Details</a>
                 <br/>
                 <br/>
                 <a href="/eateries/<%= eatery.id %>/edit">Modify Eatery</a>
                </div>
              </section>
            <hr/>
          <% end %>
      <% else %>
        <h3>No Active Eateries</h3>
        <hr/>
      <% end %>
    </section>
    <section class="right">
      <% if @inactive_eateries %>
        <h3>Inactive Eateries</h3>
        <hr/>
        <% for eatery in @inactive_eateries %>
          <section>
            <div class="sub_upper">
              <p><%= eatery.name %></p>
            </div>
            <div class="sub_lower">
              <a href="/eateries/<%= eatery.id %>">More Details</a>
              <br/>
              <br/>
              <a href="/eateries/<%= eatery.id %>/edit">Modify Eatery</a>
            </div>
          </section>
          <hr/>
        <% end %>
      <% else %>
        <h3>No Inactive Eateries</h3>
        <hr/>
      <% end %>
    </section>
  </section>
</article>
