<article class="main_display">
  <header>
    <div class="header_left">
      <h2><%= @eatery.name %></h2>
    </div>
    <div class="header_right">
      <br/>
      <a class="button" href="/eateries/<%= @eatery.id %>/edit">Modify Details</a>
    </div>
  </header>
  <section class="left_right_container">
    <section class="left">
      <% if @deals %>
        <!-- <article class="main_display"> -->
          <header>
            <div class="header_left">
              <h3>Active Deals</h3>
            </div>
            <div class="header_right">
              <br/>
              <a class="button" href="/eateries/<%= @eatery.id %>/deals/edit">Modify List</a>
            </div>
          </header>
          <br/>
        <!-- </article> -->
        <% for deal in @deals %>
          <section class="object">
            <div class="sub_left">
            <h4><%= deal.label %></h4>
            <p>Saving Type: <%= deal.value_string %></p>
            <p>Day Available: <%= deal.day %></p>
            </div>
            <div class="sub_right">
              <a class="button" href="/eateries/<%= @eatery.id %>/deals/<%= deal.id %>">Details</a>
              <br/>
              <br/>
              <a class="button" href="/eateries/<%= @eatery.id %>/deals/<%= deal.id %>/edit">Modify Burgers</a>
            </div>
          </section>
          <br/>
        <% end %>
      <% else %>
        <!-- <article class="main_display"> -->
          <header>
            <div class="header_left">
              <h3>No Active Deals</h3>
            </div>
            <div class="header_right">
              <a class="button" href="/eateries/<%= @eatery.id %>/deals/edit">Modify List</a>
              </form>
            </div>
          </header>
          <br/>
        <!-- </article> -->
      <% end %>
    </section>
    <section class="right">
      <% if @burgers %>
        <header>
          <div class="header_left">
            <h3>Burgers</h3>
          </div>
          <div class="header_right">
            <br/>
            <a class="button" href="/eateries/<%= @eatery.id %>/burgers/edit">Modify</a>
          </div>
        </header>
        <% for burger in @burgers %>
          <section class="object">
            <div class="sub_upper">
              <% if burger.name != "" %>
                <h4>"<%= burger.name %>"</h4>
                <p><em><%= burger.type %></em></p>
              <% else %>
                <h4><%= burger.type %></h4>
              <% end %>
              <br/>
              <p>Price: <%= @eatery.show_burger_price_currency(burger.id) %></p>
            <p>Deals Available:
              <% if @eatery.find_deals_by_burger(burger.id) != nil %>
                Yes
              <% else %>
                No
              <% end %>
            </p>
            </div>
            <div class="sub_lower">
              <a class="button" href="/eateries/<%= @eatery.id %>/burgers/<%= burger.id %>">Details</a>
              <br/>
              <br/>
              <a class="button" href="/eateries/<%= @eatery.id %>/burgers/<%= burger.id %>/edit">Modify Price</a>
            </div>
          </section>
        <% end %>
      <% else %>
      <header>
        <div class="header_left">
          <h3>No Active Burgers</h3>
        </div>
        <div class="header_right">
          <a class="button" href="/eateries/<%= @eatery.id %>/burgers/edit">Modify</a>
        </div>
      </header>
      <% end %>
    </section>
  </section>
</article>
