<header class="edit_object_header">
  <br/>
  <h2><%= @eatory.name %></h2>
  <br/>
  <br/>
  <% if @burger.name != "" && @burger.name != nil %>
    <h3>Burger Name: <%=@burger.name%></h3><
    <br/>
    <p>Burger Type: <%= @burger.type %></p>
  <% else %>
    <h3>Burger Type: <%= @burger.type %></h3>
  <% end %>
    <p>Current Price: <%= @eatory.show_burger_price_currency(@burger.id) %></p>
  <br/>
  <hr/>
</header>
<hr/>
<form class="edit_object" action="/eatories/<%= @eatory.id %>/burgers/<%= @burger.id %>/update" method="post">
  <h2> Modify Burger Price:</h2>
  <br/>
  <label for="price_field">New Price in Pence: </label>
  <input type="number" name="price" value="" id="price_field"
  placeholder="<%= @eatory.show_burger_price_currency(@burger.id) %>"
  autocomplete="off" min="0" required />
  <br/>
  <br/>
  <br/>
  <br/>
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Save New Price</button>
    <div class="empty_container">
    </div>
  </section>
  <br/>
</form>
<br/>
<hr/>
<br/>
<form class="delete_object" action="/eatories/<%= @eatory.id %>" method="get">
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Return to Eatory's Main View</button>
    <div class="empty_container">
    </div>
  </section>
</form>
