<br/>
<h2 class="index_objects">List of All <%= @day.day %> Deals</h2>
<br/>
<article>
  <% for deal in @deals %>
    <section class="object_section">
      <section>
        <div>
            <p><%= deal.label %></p>
            <p>Saving Type: <%= deal.value_string %></p>
            <p>Day Available: <%= deal.day %></p>
        </div>
      </section>
      <section>
        <ul>
          <li> <a href="/deals/<%= deal.id %>">More Details</a></li>
        </ul>
      </section>
    </section>
  <% end %>
  <br/>
  <br/>
  <form class="delete_object" action="/days" method="get">
    <button type="submit" name="">Return to Days of the Week</button>
  </form>
</article>
