<article class="main_display">
  <header>
    <h2 class="index_objects">List of All <%= @day.day %> Deals</h2>
  </header>
  <br/>
  <% for deal in @deals %>
    <section class="centre_container">
      <section class="object">
        <div class="sub_left">
            <p><%= deal.label %></p>
            <p>Saving Type: <%= deal.value_string %></p>
            <p>Day Available: <%= deal.day %></p>
        </div>
        <div class="sub_right">
          <a class="button" href="/deals/<%= deal.id %>">More Details</a>
        </div>
      </section>
    </section>
  <% end %>
  <br/>
  <br/>
  <a class="button" href="/days">Return to Days of the Week</a>
</article>
