<article class="show_object">
  <header>
    <h2 class="index_objects">List of All Burgers</h2>
  </header>
  <section id="burgers_eatories_deals">
    <section class="left">
      <h3>Burgers Currently Sold</h3>
      <hr/>
      <% for burger in @active_burgers %>
          <section>
            <div class="sub_left">
              <% if burger.name != "" %>
                <p>"<%= burger.name %>"</p>
              <% end %>
              <p><em><%= burger.type %></em></p>
            </div>
            <div class="sub_right">
             <a href="/burgers/<%= burger.id %>">More Details</a>
             <br/>
             <br/>
             <a href="/burgers/<%= burger.id %>/edit">Modify Burger</a>
            </div>
          </section>
        <hr/>
      <% end %>
    </section>
    <section class="right">
      <h3>Burgers Not Currently Sold</h3>
      <hr/>
      <% for burger in @inactive_burgers %>
        <section>
          <div class="sub_upper">
            <% if burger.name != "" %>
              <p>"<%= burger.name %>"</p>
            <% end %>
            <p><em><%= burger.type %></em></p>
          </div>
          <div class="sub_lower">
            <a href="/burgers/<%= burger.id %>">More Details</a>
          </div>
          <div class="sub_lower">
            <a href="/burgers/<%= burger.id %>/edit">Modify Burger</a>
          </div>
        </section>
        <hr/>
      <% end %>
    </section>
  </section>
</article>
