<article class="main_display">
  <header>
    <div class="header_left">
    <% if @burger.name != "" %>
      <h2 class="index_objects">"<%= @burger.name %>"</h2>
      <br/>
      <p><em><%= @burger.type %></em></p>
    <% else %>
      <h2><%= @burger.type %></h2>
    <% end %>
    </div>
    <div class="header_right">
      <a class="button" href="/burgers/<%= @burger.id %>/edit">Modify Burger Details</a>
      <br/>
      <br/>
      <a class="button" href="/burgers">Return to Burgers Listing</a>
    </div>
  </header>
  <section class="left_right_container">
    <section class="left">
      <% if @deals %>
      <header class="sub_header">
        <h3>Active Deals</h3>
      </header>
      <br/>
        <% for deal in @deals %>
          <section class="object">
            <div class="sub_left">
            <h4><%= deal.label %></h4>
            <p>Saving Type: <%= deal.value_string %></p>
            <p>Day Available: <%= deal.day %></p>
            </div>
            <div class="sub_right">
              <a class="button" href="/burgers/<%= @burger.id %>/deals/<%= deal.id %>">More Details</a>
            </div>
          </section>
          <br/>
        <% end %>
      <% else %>
      <header class="sub_header">
        <h3>No Active Deals</h3>
      </header>
      <% end %>
      </section>
    <section class="right">
      <% if @eateries %>
      <header class="sub_header">
        <h3>Eateries</h3>
      </header>
        <% for eatery in @eateries %>
          <section class="object">
            <div class="sub_upper">
            <h4><%= eatery.name %></h4>
            <br/>
            <p>Deals Available:
              <% if eatery.find_deals_by_burger(@burger.id) != nil %>
                Yes
              <% else %>
                No
              <% end %>
            </p>
            <br/>
            <p>Price: <%= eatery.show_burger_price_currency(@burger.id) %></p>
            </div>
            <div class="sub_lower">
              <a class="button" href="/burgers/<%= @burger.id %>/eateries/<%= eatery.id %>">More Details</a>
            </div>
          </section>\
        <% end %>
      <% else %>
      <header class="sub_header">
        <h3>Not Currently Sold</h3>
      </header>
      <% end %>
    </section>
  </section>
</article>
