<article class="show_object">
  <header>
    <div class="header_left">
    <% if @burger.name != "" %>
      <h2>"<%= @burger.name %>"</h2>
      <br/>
      <p><em><%= @burger.type %></em></p>
    <% else %>
      <h2><%= @burger.type %></h2>
    <% end %>
    </div>
    <div class="header_right">
      <form class="" action="/burgers/<%= @burger.id %>/edit" method="get">
        <button type="submit" name="button">Modify Details</button>
      </form>
      <br/>
      <form class="" action="/burgers" method="get">
        <button type="submit" name="button">Return to Burger Listing</button>
      </form>
    </div>
  </header>
  <section id="burgers_eateries_deals">
    <section class="left">
      <% if @deals %>
        <h3>Active Deals</h3>
        <hr/>
        <% for deal in @deals %>
          <section>
            <div class="sub_left">
            <h4><%= deal.label %></h4>
            <p>Saving Type: <%= deal.value_string %></p>
            <p>Day Available: <%= deal.day %></p>
            </div>
            <div class="sub_right">
              <a href="/burgers/<%= @burger.id %>/deals/<%= deal.id %>">More Details</a>
            </div>
          </section>
          <hr/>
        <% end %>
      <% else %>
        <h3>No Active Deals</h3>
        <hr/>
      <% end %>
      </section>
    <section class="right">
      <% if @eateries %>
        <h3>Eateries</h3>
        <hr/>
        <% for eatery in @eateries %>
          <section>
            <div class="sub_upper">
            <h4><%= eatery.name %></h4>
            <br/>
            <p>Deals Available:
              <% if eatery.find_deals_by_burger(@burger.id) != nil %>
                Yes
              <% else %>
                No
              <% end %>
            </p>
            <br/>
            <p>Price: <%= eatery.show_burger_price_currency(@burger.id) %></p>
            </div>
            <div class="sub_lower">
              <a href="/burgers/<%= @burger.id %>/eateries/<%= eatery.id %>">More Details</a>
            </div>
          </section>
          <hr/>
        <% end %>
      <% else %>
        <h3>Not Currently Sold</h3>
        <hr/>
      <% end %>
    </section>
  </section>
</article>
