<header class="edit_object_header">
  <h2><%= @eatery.name %></h2>
</header>
<hr/>
<form class="edit_object_object" action="/eateries/<%= @eatery.id %>/deals/update" method="post">
  <h2>Add Deal to Eatery Active List:</h2>
  <br/>
  <p>(only burgers for the chosen deal should be checked)</p>
  <br/>
  <br/>
  <section class="stocked_burgers">
    <% if @inactive_deals %>
      <% for deal in @inactive_deals %>
        <div class="deal_option">
          <input type="radio" name="deal_id" value="<%= deal.id %>" id="radio_deal_<%= deal.id %>" autocomplete="off" required>
          <label for="radio_deal_<%= deal.id %>">
            <h2><%= deal.label %></h2>
            <p>Saving Type: <%= deal.value_string %></p>
            <p>Day Available: <%= deal.day %></p>
          </label>
          <br/>
          <div class="reveal-if-active">
            <h3>Burgers to Add to Deal (min: 1)</h3>
            <br/>
            <hr/>
            <br/>
            <% for burger in @stock %>
              <input type="checkbox" name="<%= burger.id %>" value="<%= burger.id %>" id="checkbox_burger_<%= burger.id %>" autocomplete="off">
              <label for="checkbox_burger_<%= burger.id %>">
                <% if burger.name != "" && burger.name != nil %>
                  Name: <%=burger.name%><br/>Type: <%= burger.type %>
                <% else %>
                  Type: <%= burger.type %>
                <% end %>
              </label>
              <br/>
              <br/>
            <% end %>
          </div>
        </div>
        <hr/>
        <br/>
      <% end %>
    <% else %>
      <p>No inactive deals available</p>
      <p>Please create new deals if required</p>
    <% end %>
  </section>
  <br/>
  <br/>
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Add Deal To Eatery Active List</button>
    <div class="empty_container">
    </div>
  </section>
</form>
<br/>
<hr/>
<br/>
<form class="edit_object_object" action="/eateries/<%= @eatery.id %>/deals/delete" method="post">
  <h2>Remove Deals From Eatery Active List:</h2>
  <br/>
  <br/>
  <section class="stocked_burgers">
    <% if @active_deals %>
      <% for deal in @active_deals %>
        <input type="checkbox" name="<%= deal.id %>" value="<%= deal.id %>" id="checkbox_deal_<%= deal.id %>" autocomplete="off">
        <label for="checkbox_deal_<%= deal.id %>">
          <h2><%= deal.label %></h2>
          <p>Saving Type: <%= deal.value_string %></p>
          <p>Day Available: <%= deal.day %></p>
        </label>
        <hr/>
        <br/>
      <% end %>
    <% else %>
      <p>No currently active deals at Eatery</p>
    <% end %>
  </section>
  <br/>
  <br/>
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Remove Deals From Eatery Active List</button>
    <div class="empty_container">
    </div>
  </section>
  <br/>
</form>
<hr/>
<br/>
<br/>
<br/>
<form class="return" action="/eateries/<%= @eatery.id %>" method="get">
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Return to Eatery <br/> Main View</button>
    <div class="empty_container">
    </div>
  </section>
</form>
