<article class="main_display">
  <header>
    <h2>List of Today's Deals</h2>
  </header>
  <section class="left_right_container">
    <section class="left">
      <header class="sub_header" >
        <h3><%= @day.day %></h3>
      </header>
      <br/>
      <article>
        <% if @deals %>
          <% for deal in @deals %>
            <section class="object">
              <section class="sub_left">
                <div>
                    <p><%= deal.label %></p>
                    <p>Saving Type: <%= deal.value_string %></p>
                    <p>Day Available: <%= deal.day %></p>
                </div>
              </section>
              <section class="sub_right">
                <br/>
                  <a class="button" href="/deals/<%= deal.id %>">More Details</a>
              </section>
            </section>
          <% end %>
        <% else %>
          <header class="sub_header">
            <h3>No Active Deals</h3>
          </header>
        <% end %>
      </article>
    </section>
    <section class="right">
      <header class="sub_header" >
        <h3>Logged Deals</h3>
      </header>
    </section>
  </section>
</article>
