<% if @changes == false %>
  <header class="new_object_header">
    <h2><%= @eatery.name %></h2>
    <br/>
    <hr/>
    <p>Original price equal to new price.</p>
    <p>No changes made. </p>
    <br/>
    <hr/>
  </header>
<% else %>
<header class="new_object_header">
  <h2><%= @eatery.name %></h2>
  <br/>
  <hr/>
  <p>Price Successfully Updated</p>
  <br/>
  <p>Old Price: <%= @old_price %></p>
  <p>New Price: <%= @new_price %></p>
  <br/>
  <hr/>
</header>
<% end %>
<section class="new_object">
  <h3>Burger Details</h3>
  <hr/>
  <% if @burger.name != "" && @burger.name != nil %>
    <h3>Burger Name: <%=@burger.name%></h3><
    <br/>
    <p>Burger Type: <%= @burger.type %></p>
  <% else %>
    <h3>Burger Type: <%= @burger.type %></h3>
  <% end %>
    <p>Current Price: <%= @eatery.show_burger_price_currency(@burger.id) %></p>
</section>
<br/>
<hr/>
<br/>
<form class="delete_object"
action="/eateries/<%= @eatery.id %>/burgers/<%= @burger.id %>/edit" method="get">
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Return to Modify Burger Price</button>
    <div class="empty_container">
    </div>
  </section>
</form>
<br/>
<hr/>
<br/>
<form class="delete_object" action="/eateries/<%= @eatery.id %>" method="get">
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Return to Eatery's Main View</button>
    <div class="empty_container">
    </div>
  </section>
</form>
