<article class="show_object_object">
  <header class="edit_object_header">
    <h2><%= @eatory.name %></h2>
    <h2>Add Burgers to Deal:</h2>
    <br/>
    <h2><%= @deal.label %></h2>
    <p>Saving Type: <%= @deal.value_string %></p>
    <p>Day Available: <%= @deal.day %></p>
    <br/>
    <hr/>
    <br/>
  </header>
  <% if !@changes %>
    <h2>No Burgers Removed</h2>
    <br/>
    <p>None were selected for removal</p>
    <br/>
    <hr/>
    <br/>
  <% else %>
    <% if @removed_burgers.count > 1 %>
    <h2>Burgers Successfully Removed from Deal</h2>
    <% else %>
    <h2>Burger Successfully Removed from Deal</h2>
    <% end %>
    <br/>
    <hr/>
    <br/>
    <section class="stocked_burgers">
      <% for burger in @removed_burgers %>
          <% if burger.name != "" && burger.name != nil %>
            Name: <%=burger.name%><br/>Type: <%= burger.type %><br/>Price: <%= @eatory.show_burger_price_currency(burger.id) %>
          <% else %>
            Type: <%= burger.type %> <br/>
            Price: <%= @eatory.show_burger_price_currency(burger.id) %>
          <% end %>
        </label>
        <hr/>
        <br/>
      <% end %>
    </section>
  <% end %>
  <br/>
  <br/>
  <hr/>
  <hr/>
  <br/>
  <br/>
  <form class="delete_object" action="/eatories/<%= @eatory.id %>/deals/<%= @deal.id %>/edit" method="get">
    <section class="return_button">
      <div class="empty_container">
      </div>
      <button type="submit" name="">Return to Add/Remove Burgers from Deal</button>
      <div class="empty_container">
      </div>
    </section>
  </form>
  <br/>
  <hr/>
  <br/>
  <form class="delete_object" action="/eatories/<%= @eatory.id %>" method="get">
    <section class="return_button">
      <div class="empty_container">
      </div>
      <button type="submit" name="">Return to Eatory Main View</button>
      <div class="empty_container">
      </div>
    </section>
  </form>
</article>
