<header class="edit_object_header">
  <h2><%= @eatory.name %></h2>
</header>
<hr/>
<form class="edit_object_object" action="/eatories/<%= @eatory.id %>/deals/update" method="post">
  <h2>Add Deals to Eatory Active List:</h2>
  <br/>
  <br/>
  <section class="stocked_burgers">
    <% if @inactive_deals %>
      <% for deal in @inactive_deals %>
        <input type="checkbox" name="<%= deal.id %>" value="<%= deal.id %>" id="checkbox_deal_<%= deal.id %>" autocomplete="off">
        <label for="checkbox_deal_<%= deal.id %>">
          <h2><%= deal.label %></h2>
          <p>Saving Type: <%= deal.value_string %></p>
          <p>Day Available: <%= deal.day %></p>
        </label>
        <hr/>
        <br/>
      <% end %>
    <% else %>
      <p>No inactive deals available</p>
      <p>Please create new deals if required</p>
    <% end %>
  </section>
  <br/>
  <br/>
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Add Deals To Eatory Active List</button>
    <div class="empty_container">
    </div>
  </section>
</form>
<br/>
<hr/>
<br/>
<form class="edit_object_object" action="/eatories/<%= @eatory.id %>/deals/delete" method="post">
  <h2>Remove Deals From Eatory Active List:</h2>
  <br/>
  <br/>
  <section class="stocked_burgers">
    <% if @active_deals %>
      <% for deal in @active_deals %>
        <input type="checkbox" name="<%= deal.id %>" value="<%= deal.id %>" id="checkbox_deal_<%= deal.id %>" autocomplete="off">
        <label for="checkbox_deal_<%= deal.id %>">
          <h2><%= deal.label %></h2>
          <p>Saving Type: <%= deal.value_string %></p>
          <p>Day Available: <%= deal.day %></p>
        </label>
        <hr/>
        <br/>
      <% end %>
    <% else %>
      <p>No currently active deals at Eatory</p>
    <% end %>
  </section>
  <br/>
  <br/>
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Remove Deals From Eatory Active List</button>
    <div class="empty_container">
    </div>
  </section>
  <br/>
</form>
<hr/>
<br/>
<br/>
<br/>
<form class="return" action="/eatories/<%= @eatory.id %>" method="get">
  <section class="return_button">
    <div class="empty_container">
    </div>
    <button type="submit" name="">Return to Eatory <br/> Main View</button>
    <div class="empty_container">
    </div>
  </section>
</form>
