<article class="main_display">
  <header>
    <h2 class="index_objects">List of All Deals</h2>
  </header>
  <section class="left_right_container">
    <section class="left">
      <% if @deals %>
      <header class="sub_header">
        <h3>Active Deals</h3>
      </header>
      <br/>
        <% for deal in @deals %>
            <section class="object">
              <div class="sub_left">
                  <p><%= deal.label %></p>
                  <p>Saving Type: <%= deal.value_string %></p>
                  <p>Day Available: <%= deal.day %></p>
              </div>
              <div class="sub_right">
               <a class="button" href="/deals/<%= deal.id %>">More Details</a>
               <br/>
               <br/>
               <a class="button" href="/deals/<%= deal.id %>/edit">Modify Deal</a>
              </div>
            </section>
            <br/>
        <% end %>
      <% else %>
      <header class="sub_header">
        <h3>No Active Deals</h3>
      </header>
      <br/>
      <% end %>
    </section>
    <section class="right">
      <% if @inactive_deals %>
      <header class="sub_header">
        <h3>Inactive Deals</h3>
      </header>
        <% for deal in @inactive_deals %>
          <section class="object">
            <div class="sub_upper">
            <h4><%= deal.label %></h4>
            <br/>
            <p>Saving Type: <%= deal.value_string %></p>
            <br/>
            <p>Day Available: <%= deal.day %></p>
            </div>
            <div class="sub_lower">
              <a class="button" href="/deals/<%= deal.id %>">More Details</a>
              <br/>
              <br/>
              <a class="button" href="/deals/<%= deal.id %>/edit">Modify Deal</a>
            </div>
          </section>
        <% end %>
      <% else %>
      <header class="sub_header">
        <h3>No Inactive Deals</h3>
      </header>
      <br/>
      <% end %>
    </section>
  </section>
</article>
