<article class="show_object">
  <header>
    <h2 class="index_objects">Create New Deal</h2>
  </header>
<section class="create_burger">
  <div class="empty_container">
  </div>
  <form class="create" action="/deals" method="post">
    <br/>
    <label for="deal_label">Deal Label: </label>
    <input type="text" list="labels" name="label" value="" id="deal_label" autocomplete="off" required/>
    <datalist class="" id="labels">
      <% for label in @deal_labels %>
        <option value="<%= label %>"><%= label %></option>
        <% end %>
    </datalist>
    <br/>
    <br/>
    <p>Deal Type:</p>
    <% for type in @deal_type_hashes %>
    <label for="deal_type_<%= type['id'] %>"><%= type['type'] %></label>
    <input type="radio" list="types" name="type_id" value="<%= type['id'] %>" id="deal_type_<%= type['id'] %>" required/>
    <% end %>
    <br/>
    <br/>
    <label for="deal_value">Deal Value: </label>
    <input type="text" list="values" name="value" value="" id="deal_value" autocomplete="off" required/>
    <datalist class="" id="values">
      <option value="cheapest"></option>
      <% for value in @deal_values %>
        <option value="<%= value %>"><%= value %></option>
        <% end %>
    </datalist>
    <br/>
    <br/>
    <label for="deal_days">Day: </label>
    <input type="dropdown" list="days" name="day_id" value="" id="deal_days" autocomplete="off" required>
    <datalist class="" id="days">
      <% for day in @day_objects %>
        <option value="<%= day.id %>"><%= day.day %></option>
      <% end %>
    </datalist>
    <br/>
    <br/>
    <section class="return_button">
      <div class="empty_container">
      </div>
      <button type="submit" name="">Create New Deal</button>
      <div class="empty_container">
      </div>
    </section>
    <br/>
  </form>
  <div class="empty_container">
  </div>
</section>
</article>
