<article class="show_object">
  <header>
    <div class="header_left">
      <h2><%= @deal.label %></h2>
      <p>Saving Type: <%= @deal.value_string %></p>
      <p>Day Available: <%= @deal.day %></p>
    </div>
    <div class="header_right">
      <form class="" action="/deals/<%= @deal.id %>/edit" method="get">
        <button type="submit" name="button">Modify Details</button>
    </div>
  </header>
  <section id="burgers_eatories_deals">
    <section class="left">
      <% if @burgers %>
        <h3>Burgers</h3>
        <hr/>
        <% for burger in @burgers %>
          <section>
            <div class="sub_left">
              <% if burger.name != "" %>
                <h4>"<%= burger.name %>"</h4>
                <p><em><%= burger.type %></em></p>
              <% else %>
                <h4><%= burger.type %></h4>
              <% end %>
            </div>
            <div class="sub_right">
              <a href="/deals/<%= @deal.id %>/burgers/<%= burger.id %>">Details</a>
            </div>
          </section>
          <hr/>
        <% end %>
      <% else %>
        <h3>No Burgers Assigned </h3>
        <hr/>
      <% end %>
    </section>
    <section class="right">
      <% if @eatories %>
        <h3>Eatories With Deal</h3>
        <hr/>
        <% for eatory in @eatories %>
          <section>
            <div class="sub_upper">
            <h4><%= eatory.name %></h4>
            <br/>
            </div>
            <div class="sub_lower">
              <a href="/deals/<%= @deal.id %>/eatories/<%= eatory.id %>">Details</a>
            </div>
          </section>
          <hr/>
        <% end %>
      <% else %>
        <h3>No Eatories Assigned</h3>
        <hr/>
      <% end %>
    </section>
  </section>
</article>
